.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.card-set__item {
  margin: 15px;
  flex-basis: 100%;

  @media (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}
