.header--underlined {
  border-bottom: 1px solid #ececec;
}
.header {
  position: relative;
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    height: 60px;
  }
}

// Navigation

.navigation__list {
  display: none;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation__list {
    display: flex;
    margin-left: 88px;
    // margin-left: 93px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    color: $title-color;
    @include font-for-text(500, null, 1.14, 0.02em);
    padding-top: 32px;
    padding-bottom: 32px;
    @include transition(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .navigation__link--current {
    color: $accent-color;
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

// Contacts list

.contact-list {
  display: none;
}

@media (min-width: 768px) {
  .contact-list {
    display: block;
  }
  .contact-list__item {
    display: flex;
    align-items: center;
  }

  .contact-list__icon {
    margin-right: 8px;
    fill: currentColor;
  }
  .contact-list__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $text-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;

    @include transition(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
@media (min-width: 1200px) {
  .contact-list {
    display: flex;
    align-items: center;
  }
  .contact-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact-list__link {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
